<section id="contact" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-container-contact">
      <div class="row">
          <div class="col-12">
              <h2 class="mb-4 tm-section-title">Contact Us</h2>
              <div class="mb-5 tm-underline">
                <div class="tm-underline-inner"></div>
              </div>
              <p class="mb-5">
                Nullam tincidunt, lacus a suscipit luctus, elit turpis tincidunt dui,
                non tempus sem turpis vitae lorem. Maecenas eget odio in sapien ultrices
                viverra vitae vel leo. Curabitur at elit eu risus pharetra pellentesque
                at at velit.
              </p>
          </div>
          
          <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
            <a href="tel:0100200340" class="tm-contact-item-link">
                <i class="fas fa-3x fa-phone mr-4"></i>
                <span class="mb-0">010-020-0340</span>
            </a>              
          </div>
          <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
            <a href="mailto:info@company.co" class="tm-contact-item-link">
                <i class="fas fa-3x fa-envelope mr-4"></i>
                <span class="mb-0">info@company.co</span>
            </a>              
          </div>
          <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
            <a href="https://www.google.com/maps" class="tm-contact-item-link">
                <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
                <span class="mb-0">Location on Maps</span>
            </a>              
          </div>
          <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
            <form action="" method="get">
              <input name="email" type="email" placeholder="Subscribe your email" class="tm-input" required />
              <button type="submit" class="btn tm-btn-submit">Submit</button>
            </form>
          </div>
      </div>
    </div>
    <footer class="text-center small tm-footer">
        <p class="mb-0">
          Copyright &copy; 2019 Company Name 
          
          - Design: <a rel="nofollow" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
      </footer>
</section>