<section id="work" class="tm-section-pad-top">
    <div class="container tm-container-gallery">
      <div class="row">
        <div class="text-center col-12">
            <h2 class="tm-text-primary tm-section-title mb-4">Our Work</h2>
            <p class="mx-auto tm-work-description">
              "Curabitur ac orci ac lorem blandit volutpat. Sed ac sodales nibh, ut
              porttitor elit. Sed id dui mi. Vestibulum ante ipsum primis in faucibus
              orci luctus et ultrices posuere cubilia."
            </p>
        </div>            
      </div>
      <div class="row">
          <div class="col-12">
              <div class="mx-auto tm-gallery-container">
                  <div class="grid tm-gallery">
                    <a href="img/gallery-img-01.jpg">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="img/gallery-tn-01.jpg" alt="Image" class="img-fluid">
                        <figcaption>
                          <h2><i>Dreamy <span>Honey</span> Now</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="img/gallery-img-02.jpg">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="img/gallery-tn-02.jpg" alt="Image" class="img-fluid">
                        <figcaption>
                          <h2><i>Second <span>Honey</span> Now</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="img/gallery-img-03.jpg">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="img/gallery-tn-03.jpg" alt="Image" class="img-fluid">
                        <figcaption>
                          <h2><i>Third <span>Honey</span> Now</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="img/gallery-img-04.jpg">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="img/gallery-tn-04.jpg" alt="Image" class="img-fluid">
                        <figcaption>
                          <h2><i>Dreamy <span>Honey</span> Now</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="img/gallery-img-05.jpg">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="img/gallery-tn-05.jpg" alt="Image" class="img-fluid">
                        <figcaption>
                          <h2><i>Fifth <span>Honey</span> Now</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="img/gallery-img-06.jpg">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="img/gallery-tn-06.jpg" alt="Image" class="img-fluid">
                        <figcaption>
                          <h2><i>Sixth <span>Honey</span> Now</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="img/gallery-img-01.jpg">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="img/gallery-tn-01.jpg" alt="Image" class="img-fluid">
                        <figcaption>
                          <h2><i>Dreamy <span>Honey</span> Now</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                    <a href="img/gallery-img-02.jpg">
                      <figure class="effect-honey tm-gallery-item">
                        <img src="img/gallery-tn-02.jpg" alt="Image" class="img-fluid">
                        <figcaption>
                          <h2><i>Eighth <span>Honey</span> Now</i></h2>
                        </figcaption>
                      </figure>
                    </a>
                  </div>
              </div>                
          </div>        
        </div>
    </div>
</section>